name: Docker CI and Security Scan

on:
  push:
    branches: [ "main" ]  # main 브랜치에 코드가 올라올 때 실행

jobs:
  build-and-scan:
    runs-on: ubuntu-latest  # 리눅스 가상 환경 빌리기

    steps:
    - name: 체크아웃 소스코드
      uses: actions/checkout@v3

    - name: 도커 이미지 빌드
      run: docker build -t my-app:${{ github.sha }} .

    - name: Trivy 보안 스캔 실행
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'my-app:${{ github.sha }}'
        format: 'table'
        exit-code: '0'       # 취약점이 발견되면 빌드를 실패시킴 (강력한 보안 정책)
        severity: 'CRITICAL'